node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.DS_Store
.env
.env.*
!.env.example
dist
coverage
.tmp
.eslintcache
.vscode
.idea
apps/backend/dist
apps/backend/node_modules
apps/frontend/node_modules
apps/frontend/dist
postgres-data
